* {
    box-sizing: border-box;
}

body {
    background-color: #20202D;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 945px;
    margin: auto;
}

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.section-title {
    margin: 0;
    margin-bottom: 84px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    margin-left: 20px;
}

.social-link:first-child {
    margin-left: 0;
}

.hero-subtitle {
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    margin-bottom: 14px;
}

.hero-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}

button {
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border: none;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-avatar {
    background-color: #fff;
    width: 389px;
    height: 389px;
    border-radius: 50%;
    background-image: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-position: center right -490px;
    border: 13px solid #fff;
}


/* section-features============== */

.features {
    background-color: #000;
}

.features-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-item {
    flex-basis: 30%;
    margin-bottom: 63px;
}

.features-image {
    display: inline-block;
    margin-bottom: 22px;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}

.features-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

/* projects */
.section-projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}
.project-slide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.project-text {
    flex-basis: 60%;
}
.project-text {
    display: flex;  
    flex-wrap: wrap;
}
.project-title {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 42px;
}
.project-time, .project-cost {
    flex-basis: 50%;
}
.project-time, .project-cost, .project-feedback {
    display: flex;
}
.project-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
 .project-subtitle {
     margin: 0;
     font-weight: bold;
     font-size: 18px;
     line-height: 21px;
}
 .project-feedback {
     margin-top: 44px;
 }
 .project-paragraph {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
 }
 .ps {
     margin-bottom: 50px;
 }



/* contacts */

.contacts-form {
    background: #FFFFFF;
    box-shadow: -5px 5px 0px #FFC41D;
    border-radius: 5px;
    max-width: 380px;
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 49px;
}

.form-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-bottom: 29px;
}

.input {
    background: #F8F8F8;
    border: none;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 18px 50px;
    padding-left: 50px;
    widows: 100%;
    font-size: 14px;
    line-height: 28px;
}

.input-name {
    margin-bottom: 17px;
    background-image: url(../img/footer/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.input-phone {
    margin-bottom: 20px;
    background-image: url(../img/footer/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;

}

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-text {
    flex-basis: 50%;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.contacts-phone,
.contacts-mail {
    flex-basis: 50%;
    margin-bottom: 53px;
}

.contacts-social {
    flex-basis: 100%;
}
.contacts-wrap {
    display: flex;
}

.contacts-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
   
}

.contacts-link {
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
}

.contacts-link:hover {
    text-decoration: underline;
}
.contacts-policy {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #A5A5A5;
    text-decoration: none;
    display: inline-block;
    margin-top: 72px;
}
.contacts-policy:hover {
    text-decoration: underline;
}

.swiper-pagination-bullet {
    background: #FFBB01!important;
    

}